.body {
  overflow-x: hidden;
  background-color: #242424;
  color: white;
}
.airpage{
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  /* top: 0; */
  left: 0;
  bottom: 0;
}
.last-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  margin-bottom: -8em;
}
.mining-tap {
  margin-top: -6em !important;
  margin-bottom: 5em;
}

/* ---> Main Tapping page style <--- */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.7em;
}
.profile-container {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  border-radius: 50%;
}
.level-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin: 0.7em;
}
.league {
  display: block;
}
.level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5.5px;
}
.level-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-icon {
  font-size: 17px;
  font-weight: 600;
}
.level1 {
  color: gray;
}
.level-progress {
  box-sizing: border-box;
  width: 130px;
  /* height: 10px; */
  background-color: rgba(128, 128, 128, 0.7);
  border: 1px solid rgb(240, 238, 238, 0.7);
  border-radius: 10px;
}
.profit-per-hour {
  box-sizing: border-box;
  padding: 1px 15px;
  width: 205px;
  height: 47px;
  background-color: rgba(128, 126, 126, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(206, 203, 203, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.pph {
  display: inline-block;
  align-items: center;
  border-right: 0.5px solid gray;
  border-left: 0.5px solid gray;
  height: 30px;
  padding: 0px 7px 7px 7px;
  margin-top: 0.3em;
}
.trade-wallet {
  width: 30px;
  height: 30px;
  /* background-color: blue; */
  border-radius: 6px;
  margin-top: 2px;
  cursor: pointer;
}
.pph-text {
  text-align: center;
  font-size: 8px;
  margin-top: -0.16em;
  color: gainsboro;
}
.pph-value {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pph-coin {
  box-sizing: border-box;
  border: 1px solid yellow;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
}
.info {
  font-size: 15.5px;
  color: rgb(128, 122, 122);
}
.settings {
  font-size: 2em;
  margin-top: -0.23em;
}
.start-mining {
  position: fixed;
  z-index: 9;
  top: 34vh;
  bottom: -4em;
  left: 0;
  right: 0;
  transform: translateY(100%);
  width: 100.1%;
  border-top: 4px solid orange;
  box-shadow: 2px 12px 65px 0.2px orange;
  border-radius: 50px;
  background-color: #1f1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  overflow: hidden;
  padding-bottom: 35em;
}
.start-minings{
  position: fixed;
  z-index: 9;
  top: 45vh;
  bottom: -4em;
  left: 0;
  right: 0;
  transform: translateY(100%);
  width: 100.5%;
  border-top: 4px solid orange;
  box-shadow: 2px 12px 65px 0.2px orange;
  border-radius: 50px;
  background-color: #1f1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  overflow: hidden;
  padding-bottom: 35em;
}
.start-timer {
  position: fixed;
  z-index: 9;
  top: 34vh;
  bottom: -4em;
  left: 0;
  right: 0;
  transform: translateY(100%);
  width: 100.5%;
  border-top: 4px solid orange;
  box-shadow: 2px 12px 65px 0.2px orange;
  border-radius: 50px;
  background-color: #1f1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  overflow: hidden;
  padding-bottom: 35em;
}
.start-mining.visible,
.start-minings.visible,
.start-timer.visible {
  transform: translateY(0);
}
.cancel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.2em;
  opacity: 0.3;
}
.ifon {
  color: white;
}
.if {
  opacity: 0.6;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(199, 197, 197, 0.2);
  z-index: 2;
  user-select: none;
  pointer-events: all;
}
.bbb {
  background-color: transparent;
  padding: 0;
  opacity: 0.6;
}
.upgrade-pph-nfo {
  position: absolute;
  top: 0;
  right: 10%;
  left: 10%;
}
.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.tap{
  width: 10em;
  margin-bottom: -1.5em;
}
.bolt{
  width: 6em;
  height: 10em;
  margin-bottom: -1rem;
  color: orange;
}
.upgrade-pph-nfo h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
.upgrade-pph-nfo h3{
  text-align: center;
  font-weight: 700;
  margin-top: 3.5em;
  font-size: 1.1em;
}
.upgrade-pph-nfo p{
  text-align: center;
  font-size: 0.75em;
  margin: 2em 0;
}
.upgrade-pph-nfo h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1.1em;
}
.upgrade-pph-nfo .recharge{
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 1.1em;
}
.upgrade-pph-nfo h6 {
  text-align: center;
  margin: 1em 0 1.1em 0;
}

.profit-boost {
  width: 18em;
  height: 11em;
  filter: drop-shadow(2px 5px 20px rgb(124, 8, 233));
}
.start-mine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(82, 13, 241);
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  font-size: 1.4em;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.del-acc{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(233, 51, 51);
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-bottom: 1em;
}
.cancel-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  border: 2px solid gray;
  background: #2e2e2e;
}
.start-mine:hover,
.start-mine:active {
  background-color: rgb(47, 0, 255);
}
.hamcoin {
  width: 1.5em;
  height: 1.5em;
}
.main-game {
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vh;
  width: 100%;
  height: 90vh;
  border-top: 4px solid orange;
  /* box-shadow: 2px 12px 65px 0.2px orange; */
  margin-top: 2px;
  border-radius: 50px;
  padding: 20px 25px;
  background-color: #242424;
  /* overflow-y: auto; */
}
.main-game::before {
  /* position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vh;
  width: 100%;
  height: 90vh;
  border-top: 4px solid orange;
  box-shadow: 2px 12px 65px 0.2px orange;
  margin-top: 2px;
  border-radius: 50px;
  padding: 20px 25px; */
  content: "";
  position: absolute;
  top: -1px; /* Position at the top */
  left: 0;
  right: 0;
  height: 124px; /* Match the border-top height */
  border-radius: 50px !important;
  border-top: 4px solid orange; /* Shadow color */
  box-shadow: 2px 12px 65px 0.2px orange; /* Shadow effect */
  border-radius: 0 0 50px 50px; /* Rounded corners at the bottom to match container */
  z-index: -1;
}
.cards-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.daily-reward-card {
  flex: 1 0 100px !important;
  /* flex-wrap: wrap !important; */
  box-sizing: border-box;
  /* border: 2px solid lime; */
  border-bottom: transparent;
  height: 110px;
  width: 20vh;
  border-radius: 15px;
  background-color: rgb(46, 45, 45);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.daily-reward-timing {
  text-align: center;
  font-size: 10px;
  color: gray;
  font-weight: 600;
  margin-top: 1em;
}

/* .daily-reward-card::after {
  content: '✔';
  font-size: 12px;
  color: white;
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: lime;
  border-radius: 50%;
  padding: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #242424;
} */
.daily-reward-card::after {
  content: ""; /* Unicode for checkmark */
  font-size: 12px;
  color: white;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #242424;
  animation: blink-badge 1s linear infinite forwards;
}
@keyframes blink-badge {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.daily-reward-pic {
  width: 40px;
}
.dailyReward {
  font-size: 14px;
  margin-top: 5px;
}
.balance {
  /* text-align: center; */
  margin: 0.8em 1em;
  font-size: 1.6em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-img {
  margin: 0 0.2em;
  width: 35px;
  height: 35px;
}

.tap-coin {
  width: 300px;
  height: 300px;
  background-color: rgb(133, 3, 255);
  box-shadow: inset 2px 2px 80px 5px black;
  border-radius: 50%;
  border: 14px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.1s ease;
  perspective: 300px;
}

.tap-coin.top-tap {
  transform: skewY(-10deg);
}

.tap-coin.bottom-tap {
  transform: skewY(10deg);
}

.tap-coin.left-tap {
  transform: skewX(-10deg);
}

.tap-coin.right-tap {
  transform: skewX(10deg);
}

/* Optional additional transformations for corners */
.tap-coin.top-left-tap {
  transform: skewX(-10deg) skewY(-10deg);
}

.tap-coin.top-right-tap {
  transform: skewX(10deg) skewY(-10deg);
}

.tap-coin.bottom-left-tap {
  transform: skewX(-10deg) skewY(10deg);
}

.tap-coin.bottom-right-tap {
  transform: skewX(10deg) skewY(10deg);
}
.tap-coin:active {
  scale: 0.99;
}

.main-skin {
  width: 250px;
  height: 290px;
  pointer-events: none; /* Disable interactions */
  user-select: none; /* Prevent text/image selection */
  -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE10+ */
  user-select: none;
}
.logo {
  width: 27px;
}
.tap-level {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tap-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.tap-energy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.energy-icon {
  color: orange;
  font-size: 1.5em;
}
.boost-img {
  width: 28px;
  height: 28px;
}

/* ---> Settings page style <--- */
.setting {
  text-align: center;
  font-size: 2.4em;
  font-weight: 600;
}
.chooseExchanges {
  background-color: #383838;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
.chooseExchanges:hover, .deleteAccount:hover{
  border: 1px solid gray;
}
.deleteAccount {
  background-color: #383838;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-weight: 600;
}
.choose {
  font-weight: 600;
}
.trade-app {
  opacity: 0.7;
  font-size: 0.877em;
}

/* ---> League page style <--- */
.chars1 {
  width: 190px;
  height: 190px;
  background-color: rgb(185, 145, 58);
  border: 8px solid rgba(209, 170, 86, 0.2);
  box-shadow: 0px 0px 90px 100px rgb(170, 124, 25);
  border-radius: 30px;
}
.chars2 {
  width: 190px;
  height: 190px;
  background-color: silver;
  border: 8px solid rgb(233, 230, 230);
  box-shadow: 0px 0px 90px 100px silver;
  border-radius: 30px;
}
.chars3 {
  width: 190px;
  height: 190px;
  background-color: gold;
  border: 8px solid rgba(192, 164, 2, 0.2);
  box-shadow: 0px 0px 90px 100px gold;
  border-radius: 30px;
}
.chars4 {
  width: 190px;
  height: 190px;
  background-color: gainsboro;
  border: 8px solid rgb(233, 230, 230);
  box-shadow: 0px 0px 90px 100px gainsboro;
  border-radius: 30px;
}
.chars5 {
  width: 190px;
  height: 190px;
  background: linear-gradient(to right, blue, cyan);
  /* border: 8px solid rgb(0, 119, 255); */
  box-shadow: 0px 0px 90px 100px rgb(5, 5, 255);
  border-radius: 30px;
}
.chars6 {
  width: 190px;
  height: 190px;
  background-color: rgba(226, 94, 204, 0.9);
  border: 8px solid rgba(148, 2, 148, 0.5);
  box-shadow: 0px 0px 90px 100px purple;
  border-radius: 30px;
}
.chars7 {
  width: 190px;
  height: 190px;
  background-color: rgb(78, 175, 175);
  border: 8px solid rgba(37, 189, 189, 0.6);
  box-shadow: 0px 0px 90px 100px rgb(78, 175, 175);
  border-radius: 30px;
}
.chars8 {
  width: 190px;
  height: 190px;
  background: linear-gradient(to right, blue, rgb(2, 245, 245));
  box-shadow: 0px 0px 90px 100px rgb(5, 176, 255);
  border-radius: 30px;
}
.chars9 {
  width: 190px;
  height: 190px;
  background-color: rgba(13, 13, 172, 0.9);
  border: 8px solid rgb(8, 8, 252, 0.3);
  box-shadow: 0px 0px 90px 100px rgb(51, 3, 165);
  border-radius: 30px;
}
.chars10 {
  width: 190px;
  height: 190px;
  background: linear-gradient(to right, rgb(228, 214, 183), rgb(185, 145, 58));
  /* border: 8px solid rgba(209, 170, 86, 0.2); */
  box-shadow: 0px 0px 90px 100px rgb(170, 124, 25);
  border-radius: 30px;
}
.arr {
  font-size: 3em;
  opacity: 0.7;
}
.arr-disabled {
  color: rgb(172, 169, 169);
  font-size: 3em;
  opacity: 0.7;
}
.league-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7em;
}
.league-title {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.3em;
}
.league-amount {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
}
.league-chars {
  margin-bottom: 7em;
}
.league-player-card {
  background-color: rgba(66, 66, 66, 0.5);
  border-radius: 18px;
  padding: 5px;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.league-players-card {
  position: fixed;
  background-color: rgb(48, 47, 47);
  border-radius: 18px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 2em;
  left: 0;
  right: 0;
  margin-bottom: 2.5em;
  border: 2px solid gray;
}
.bronze-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(255, 185, 32), rgb(158, 112, 12));
  border-radius: 10px;
}
.silver-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(233, 230, 230), silver);
  border-radius: 10px;
}
.gold-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgba(192, 164, 2, 0.2), gold);
  border-radius: 10px;
}
.platinum-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(233, 230, 230), gainsboro);
  border-radius: 10px;
}
.diamond-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(5, 5, 255), cyan);
  border-radius: 10px;
}
.epic-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgba(226, 94, 204, 0.9), purple);
  border-radius: 10px;
}
.legendary-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(78, 175, 175), teal);
  border-radius: 10px;
}
.master-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(5, 176, 255), blue);
  border-radius: 10px;
}
.grandmaster-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(
    to right,
    rgb(51, 3, 165),
    rgba(13, 13, 172, 0.9)
  );
  border-radius: 10px;
}
.lord-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to right, rgb(185, 145, 58), rgb(240, 217, 169));
  border-radius: 10px;
}
.creator-league-profile-icon {
  width: 44px;
  height: 45px;
  background: linear-gradient(to left, rgb(185, 145, 58), rgb(240, 217, 169));
  border-radius: 10px;
}
.league-exchange {
  width: 20px;
  height: 20px;
  border-radius: 30%;
}
.player-pph-amount {
  font-size: 1.1em;
}
.league-player-name {
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 0.2em;
}
.player-league {
  gap: 5px;
  margin-top: 5px;
}
.player-pph-amount {
  font-size: 0.9em;
  opacity: 0.5;
}
.player-position {
  font-size: 1.6em;
  margin-top: -0.3em;
  opacity: 0.4;
}
.progress-container {
  width: 100%;
  background: linear-gradient(to right, #242424, #383838);
  border-radius: 25px;
  padding: 0;
  margin: 10px 0;
  margin-bottom: 1.2em;
  border: 2px solid rgb(87, 86, 86);
  display: flex;
  justify-content: start;
  align-items: center;
}

/* ---> Mining page style <---- */
.combo-timer {
  opacity: 0.5;
  z-index: 1000;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 13px;
  gap: 6px;
}
.combo-price{
  background: linear-gradient(to right, rgb(147, 3, 243), palevioletred);
  padding: 5px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid rgb(147, 3, 243);
}
.timer-info {
  font-size: 1.3em;
  z-index: 1000;
}
.combo-cards-info {
  position: fixed;
  z-index: 1000 !important;
  top: 30vh;
  bottom: -4em;
  left: 0;
  right: 0;
  background-color: #fec611;
  transform: translateY(100%);
  width: 100%;
  transition: transform 0.3s ease;
}
.Hi {
  z-index: 1000;
}
.combo-cards-info.visible {
  transform: translateX(0);
}
.combo-card-price {
  background-color: #383838;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  margin-top: 9px;
}
.chosen-combo-cards {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-win{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.dot-win div{
  width: 14px;
  height: 14px;
  background-color: #555555;
  border-radius: 50%;
  border: 1px solid rgb(153, 151, 151);
  position: relative;
}
.unknown-card{
  width: 12vh;
  height: 75px;
  border-radius: 20px;
}
/* .dot-win div::after{
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: rgb(5, 204, 5);
  border-radius: 50%;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
} */
.chosen-card {
  /* position: relative; */
  flex: 1 0 90px !important;
  flex-wrap: wrap !important;
  height: 100px;
  background-color: #383838;
  box-sizing: border-box;
  border: 1px solid blue;
  border-bottom: transparent;
  height: 90px;
  width: 20vh;
  border-radius: 18px;
  background-color: rgb(46, 45, 45);
  position: relative;
  display: flex;
  place-content: center;
  padding: 3em;
}
.combo-card-positon {
  background-color: #383838;
  padding: 4px 0;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 10px;
  z-index: 1;
  border: 1px solid #242424;
}
.prTeamed {
  background-color: #242424;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
}
.prTeam {
  text-align: center;
  padding: 8px;
}
.specials-nav-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /* padding: 0 1em; */
  margin-top: 2em;
  font-size: 12.4px;
  border-bottom: 1.5px solid #383838;
}
.specials-nav-cards > div,
.linked-card {
  /* width: 100%; */
  height: 100%;
  font-weight: 500;
  padding: 0 4px;
  color: #fff;
  cursor: pointer;
  padding-bottom: 3px;
  /* border-bottom: 1.5px solid #383838; */
}
.linked-card-active {
  height: 100%;
  font-weight: 500;
  padding-bottom: -2px;
  color: #fff;
  cursor: pointer;
  margin-bottom: -1px;
  border-bottom: 1px solid #fdce33;
  color: #fdce33 !important;
}
.mine-cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2em 0;
}
.mine-cards {
  flex: 1 0 150px !important;
  box-sizing: border-box;
  font-size: 12px;
  border-bottom: transparent;
  height: 120px;
  width: 20vh;
  border-radius: 15px;
  background-color: rgb(46, 45, 45);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
.mine-card-pic{
  width: 9vh;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: -11px;
}
.card-title{
  margin-top: 2px;
  margin-bottom: -5px;
  text-wrap: wrap;
  line-height: 13px;
}
.card-pph{
  font-size: 9px;
  color: rgb(189, 187, 187);
  margin-top: 10px;
}
.card-price{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  margin-bottom: -10px;
}
.lvl-balance{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
  gap: 10px;
}
.lvl{
  border-right: 1px solid gray;
  padding: 4px 10px;
}

/* ---> Booster page style <--- */
.ur-balance {
  text-align: center;
  font-size: 1em;
  color: gray;
}
.bal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.6em;
}
.bal-works {
  text-align: center;
  font-size: 1em;
  color: #f9d835;
}
.booster-text {
  text-align: start;
  font-size: 1em;
  font-weight: 600;
  margin-top: 1.3em;
  margin-bottom: 1em;
}
.daily-boost {
  background-color: #383838;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 0.5em;
}
.energy-boost {
  color: #fec611;
  font-size: 2.2em;
}
.avail-boost {
  color: rgb(182, 180, 180);
  font-size: 0.9em;
  margin-top: -0.1em;
}
.daily-div {
  background-color: #383838;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 0.5em;
}
.tap-icon {
  width: 60px;
  height: 50px;
}
.tap-iconed {
  width: 80px;
  height: 80px;
  margin: -0.8em;
}
.daily-content {
  font-size: 0.9em;
}
.boost-coin {
  width: 20px;
  height: 20px;
  mix-blend-mode: color-dodge;
}
.boost-lvl {
  color: rgb(182, 180, 180);
  font-weight: 500;
}
.dot-lvl {
  box-sizing: border-box;
  background-color: rgb(182, 180, 180);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 5px;
  /* position: relative; */
}
.more {
  font-size: 1.8em;
  color: gray;
}

/* ---> Choose exchange page style <--- */
.trade-wallet-page {
  padding: 30px;
}
.choose-exchange {
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}
.wallet-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(73, 73, 73);
  border-radius: 15px;
  padding: 9px;
  margin-bottom: 1em;
  font-weight: 600;
  height: 65px;
}
.wallet-cards:hover {
  border: 0.5px solid gray;
}
.wallet-logo {
  width: 40px;
  height: 40px;
  border-radius: 9px;
}
.wallet-picked-icon {
  color: rgb(160, 158, 158);
  font-size: 1.3em;
}

/* ---> Invite friends page style <--- */
.friend-invited-page {
  padding: 30px;
  /* margin-bottom: 2em; */
}
.invite-text {
  text-align: center;
  margin: 12px;
  font-size: 37px;
  font-weight: 600;
}
.invite-card {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: rgb(59, 59, 59);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 1em;
  /* height: 10px; */
}
.gifting-info1 {
  font-weight: 700;
  font-size: 18px;
  display: inline;
}
.gifting-info2 {
  margin-top: 6px;
  font-size: 14.2px;
  display: flex;
  /* justify-content: space-between; */
  gap: 6px;
}
.coins {
  margin-top: 2px;
}
.dot {
  box-sizing: border-box;
  background-color: rgb(247, 230, 1);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 5px;
  position: relative;
}
.invite-coin {
  box-sizing: border-box;
  border: 1px solid yellow;
  width: 17px;
  height: 17px;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  margin-top: -0.2em;
}
.price-coin-text {
  color: rgb(247, 230, 1);
  font-weight: 600;
}
.invite-package {
  position: relative;
  width: 100px;
  height: 75px;
  margin-top: -1em;
}
.invite-info {
  text-align: center;
  font-size: 17px;
  margin-bottom: 30px;
}
.invited-friend-list {
  margin-bottom: 7em;
}
.invited-friend-card {
  background-color: rgb(46, 45, 45);
  border-radius: 18px;
  padding: 20px;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hams-icon {
  width: 40px;
  height: 40px;
  background-color: black;
  /* background-color: yellow; */
  padding: 1px;
  border-radius: 8px;
}
.invited-name {
  margin-top: -0.5em;
  text-wrap: wrap;
}
.invited-user {
  font-size: 14px;
}
.invited-league {
  font-size: 10.5px;
}
.buttons {
  position: fixed;
  margin: 0;
  bottom: 2em;
  right: 3px;
  left: 3px;
  margin-bottom: 2.5em;
}
.invite-btn {
  background-color: blue;
  border-radius: 13px;
  padding: 19px 64px;
  font-size: 1.2em;
  font-weight: 600;
  animation: zooming-btn 1.0155s ease-in-out infinite forwards;
}
@keyframes zooming-btn {
  from {
    scale: 0.95;
  }
  50% {
    scale: 1;
  }
  to {
    scale: 0.95;
  }
}
.copy-btn {
  background-color: blue;
  border-radius: 13px;
  padding: 13px;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
  place-items: center;
}

/* ---> Earning more coin page style <--- */
.bigHamCoin {
  width: 150px;
  height: 150px;
  background-color: #fec611;
  border: 15px solid #f0ed4a;
  box-shadow: inset 3px 2px 5px 2px #ceb62c;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #f5e945;
  box-shadow: 0 0 1px #fff, 0 0 0px #ffe066, 0 0 50px #f9d835, 0 0 90px #fec611;
}
.dollar {
  filter: drop-shadow(3px 3px 3px rgb(255, 166, 0));
}
.earn-text {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}
.hamCoin {
  width: 20px;
  height: 20px;
}
.youtube-task {
  background-color: rgb(46, 45, 45);
  border-radius: 20px;
  margin-bottom: 0.5em;
}
.youtube {
  box-sizing: border-box;
  border: none;
  width: 65px;
  height: 65px;
}

/* ---> Airdrop page style <--- */
.listing-date-border1 {
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 50%;
  border-right: 3px solid rgb(255, 217, 0);
  width: 200px;
  height: 200px;
  transform: rotate(-45deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listing-date-border2 {
  box-sizing: border-box;
  width: 165px;
  height: 165px;
  border: 18px solid rgb(44, 44, 44);
  border-radius: 50%;
  transform: rotate(45deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listing-date {
  width: 70px;
  height: 70px;
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(255, 217, 0);
  box-shadow: 1px 2px 20px 0px yellow;
  border-radius: 50%;
  /* right: -2.4em; */
  bottom: -24px;
  left: 8em;
  font-size: 14px;
  transform: rotate(45deg);
}
.listing-info {
  text-align: center;
  font-weight: 600;
  font-size: 9.9px;
  margin-top: -5px;
}
.listing-day {
  text-align: center;
  font-size: 27px;
  margin-top: -7px;
  font-weight: 600;
  color: rgb(255, 217, 0);
}
.listing-time {
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  margin-bottom: -5px;
  margin-top: -9px;
}
.airdrop {
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
  font-weight: 500;
}
.listing-line {
  border-bottom: 0.5px solid rgb(68, 67, 67);
  width: 7em;
}
.listing-text {
  color: rgb(134, 133, 133);
  font-size: 14px;
}
.list-date {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  color: rgb(255, 217, 0);
}
.line-through {
  border-bottom: 0.5px solid rgb(68, 67, 67);
}
.tba-points {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 1em;
  background: linear-gradient(to left, limegreen, rgb(48, 158, 48));
  border-radius: 20px;
  padding: 15px;
  margin-top: 2em;
  position: relative;
}
.info-icon {
  font-size: 1.6em;
  position: absolute;
  right: -9em;
  top: 0;
  color: white;
  opacity: 0.7;
}
.tba {
  font-size: 1.3em;
  font-weight: 600;
}
.award {
  font-size: 1.3em;
}
.withdrawSection {
  background-color: #383838;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.airdropPoints,
.airdropWithdrawals {
  text-align: center;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
}
.airdropPoint,
.airdropWithdrawal {
  background-color: #242424;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
}
.pointAllocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
  border-radius: 17px;
  padding: 10px;
  margin-bottom: 0.5em;
}
.hamCoined {
  width: 45px;
  height: 45px;
  mix-blend-mode: color-dodge;
}
.info-iconed {
  font-size: 1.6em;
  opacity: 0.2;
}
.ton-wallet {
  background-color: rgb(0, 153, 255);
  border-radius: 10px;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tonCoined {
  width: 75px;
  height: 75px;
}
.arrow-right {
  font-size: 2em;
  opacity: 0.6;
}

/* ---> Footer links style <--- */
.footer-nav-links {
  position: fixed !important;
  margin: 0 !important;
  bottom: -3px;
  right: 0;
  left: 0;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 6px 0;
  /* color: rgb(95, 94, 94); */
}
.exchange {
  background-color: transparent;
  width: 65px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: rgb(128, 122, 122);
  transition: 0.3s;
  cursor: pointer;
}
.icons {
  font-size: 2.5em;
  margin-top: -6px;
  margin-bottom: -3px;
}
.exchange:hover,
.iconic {
  background-color: #1b1b1b;
  color: white;
}
.iconic,
.prTeamed {
  pointer-events: none;
}
.awarded {
  font-size: 1.3em;
  color: lime;
}
